apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
spec:
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:16
          env:
            - name: POSTGRES_DB
              value: "board"
            - name: POSTGRES_USER
              value: "board_user"
            - name: POSTGRES_PASSWORD
              value: "board_pw"
            - name: PGDATA
              value: /var/lib/postgresql/data/pgdata
          ports:
            - containerPort: 5432
          volumeMounts:
            - name: postgres-storage
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: postgres-storage
          persistentVolumeClaim:
            claimName: postgres-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: database # 이 이름이 Spring Boot의 DB 주소가 됩니다 (ex: jdbc:postgresql://database:5432/board)
spec:
  selector:
    app: postgres
  ports:
    - port: 5432